extends layout

block content
  h1= title
  p Welcome to #{title}
  img#imgmm(src='/images/1.jpg', alt='Italy', style='width:30%')
  input(type='button', value='YES GO', onclick='$("#imgmm").css("display","none")' )



