extends layout

block content
  h1= title
  p Welcome to #{title}
  //img#imgmm(src='/images/1.jpg', alt='Italy', style='width:30% ', onclick='$("#imgmm").css("display","none")')

  .ui.six.doubling.cards
    .card
      .image
        img(src='/images/1.jpg')
    .card
      .image
        img(src='/images/1.jpg')
    .card
      .image
        img(src='/images/1.jpg')
    .card
      .image
        img(src='/images/1.jpg')
    .card
      .image
        img(src='/images/1.jpg')
    .card
      .image
        img(src='/images/1.jpg')
  .ui.card
    .content
      .right.floated.meta 14h
      img.ui.avatar.image(src='/images/1.jpg')
      |  Elliot
    .image
      img(src='/images/1.jpg')
    .content
      span.right.floated
        i.heart.outline.like.icon
        |       17 likes
      i.comment.icon
      |         3 comments
    .extra.content
      .ui.large.transparent.left.icon.input
        i.heart.outline.icon
        input(type='text', placeholder='Add Comment...')
  .ui.modal
    i.close.icon
    .header
      | Profile Picture
    .ui.segment
      form.ui.form
        button.ui.facebook.button
          i.facebook.icon
          |   Facebook
        button.ui.twitter.button
          i.twitter.icon
          |   Twitter
        button.ui.google.plus.button
          i.google.plus.icon
          |   Google Plus

        .field
          label First Name
          input(type='text', name='first-name', placeholder='First Name')
        .field
          label Last Name
          input(type='text', name='last-name', placeholder='Last Name')
        .field
          .ui.checkbox
            input.hidden(type='checkbox', tabindex='0')
            label I agree to the Terms and Conditions
        button.ui.button(type='submit') Submit
    .actions
      .ui.black.deny.button
        | Nope
      .ui.positive.right.labeled.icon.button
        | Yep, that's me
        i.checkmark.icon
  script.
      $('.ui.modal')
          .modal('show');




